{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<form id="aut_form" method="post">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% csrf_token %}
    <h1 id="aut_h1">Авторизация</h1>
    <div class="group">
        <label for="" class="aut_labels">Login</label>
        <input type="text" class="aut_inputs" name="login">
    </div>

    <div class="group">
        <label for="" class="aut_labels">Password</label>
        <input type="password" class="aut_inputs" name="pass">
    </div>

    <div class="group">
        <center>
            <input type="submit" id="aut_button" value="Войти" name="redirect" formmethod="post">
        </center>
    </div>
   
</form>
{% endblock %}
