{% extends 'user/base.html' %}
{% load static %}

{% block content %}

<body align="center">
<header>
	<div class="container" align="center">
	<h1>Главная страница Антифрода</h1>
	</div>
</header>
<section>
	<div class="container" align="center">		
		<nav align="center">
			<ul>

			<li><a href="autorise" style="color: black; font-family: monospace;">Авторизация</a></li>
			<li><a href="registration" style="color: black; font-family: monospace;">Регистрация</a></li>
			<li><a href="about" style="color: black; font-family: monospace;" >О проекте</a></li>
			</ul>
		</nav>
	</div>
</section>







{% endblock %}